<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSHealthShareUsageDescription</key>
	<string>我们需要访问您的健康数据以显示心率信息</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>我们需要访问您的健康数据以显示心率信息</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
